/*
External CSS Stylesheet
 */

/* Styling for HTML elements */
.dropdown-container {
  position: relative !important;
}

.dropdown-menu pull-right {
  position: absolute !important;
  top: 100% !important; /* Bottom of button */
  right: 0 !important;
}

@media only screen and (max-width: 480px)
.navbar {
  background-color: lightblue;
}
