/*
External CSS Stylesheet
 */

/* Styling for HTML elements */
.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Bottom of button */
  right: 0;
}