/*
External CSS Stylesheet
 */

/* Styling for HTML elements */
.dropdown-container {
  position: relative !important;
}

.dropdown-menu {
  position: absolute !important;
  top: 100% !important; /* Bottom of button */
  right: 0 !important;
}
